@{
    ViewBag.Title = "LOG OUT";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>CREAR CUENTA</h1>

    <p><a href="http://localhost:58070/User/Login" class="btn btn-primary btn-lg">CREAR &raquo;</a></p>

</div>
