@{
    ///ViewBag.Title = "Home Page";
    <script>


    </script>
}

<div class="jumbotron">
    <h1>Home</h1>
     
    <p><a href="http://localhost:58070/User/Login" class="btn btn-primary btn-lg">LOGOUT &raquo;</a></p>
    <p><a href="http://localhost:58070/ExtNet/Index" class="btn btn-primary btn-lg">COMANDOS &raquo;</a></p>

</div>
